# Semana03
ANAYA CASTRO JEFERSSON RODRIGO

Temas:
 1.Numeros
 2.Variables
 3.Manejo De Cadenas
 4.Ingreso de datos por teclado
 5.Operadores

2.Variables

In [3]:
#Siempre deben inciair con una letra o un guin abajo. (NUNCA CON UN NUMERO U OTRO SIMBOLO)

In [5]:
edad =20

In [6]:
edad

20

In [9]:
nombre = "Jefersson Rodrigo"

In [10]:
nombre

'Jefersson Rodrigo'

In [15]:
apellido = "Anaya Castro"

In [16]:
apellido

'Anaya Castro'

In [18]:
nombrecompleto = nombre + apellido
nombrecompleto

'Jefersson RodrigoAnaya Castro'

In [19]:
#Para saber si el tipo de variable se utiliza la funcion type()
#EJEMPLO
numero =100
type(numero)

int

In [20]:
type(nombre)

str

In [22]:
talla = 1.80

In [23]:
talla

1.8

In [24]:
type(talla)

float

In [28]:
#Para convertir un numero en cadena utilizamos str().
numero = 60 
cadena = str(numero)
cadena

'60'

In [29]:
type(cadena)

str

In [30]:
#Para covnertir una cadena en un entero se utiliza int()

In [31]:
cadena2 = "55"
numero2 = int(cadena2)
numero2

55

In [32]:
type(cadena2)

str

In [33]:
type(numero2)

int

In [34]:
#Para convertir un cadena a decimal se utiliza float()

In [35]:
cadena2 = "55"
numero2 = float(cadena2)
numero2

55.0

In [37]:
type(numero2)

float